<script>
    // Legacy links used ?lang=en|ru|uk (and ua as an alias of uk); send them to the language URL.
    (function () {
        var match = /[?&]lang=([A-Za-z-]+)/.exec(window.location.search);
        if (!match) { return; }
        var language = match[1].toLowerCase().split('-')[0];
        if (language === 'ua') { language = 'uk'; }
        var paths = {{ lang_paths | tojson }};
        var target = paths[language];
        if (target && target !== {{ lang_paths[lang] | tojson }}) {
            window.location.replace(target + window.location.hash);
        }
    })();
</script>
